body
{
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #EEECE7;
    color:#1E1E1E;
    margin-bottom:100px;
}

.heading
{
    text-align: center;
}

H1
{
    font-size: 30px;;
}

h2
{
    font-size:16px;
    color:#7C7C79;
    font-weight: 400;
}

.game-board-wrapper
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    gap:50px;
    align-items: center;

}

.player-weapon-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#reset-game
{
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-size:16px;
    font-style: normal;
    background-color: #DCDCD5;
    color:#1E1E1E;
    padding:15px;
    border-style:none;
    display:none;
    max-width: 25vw;
    margin-left: auto;
    margin-right: auto;
}

#reset-game:hover
{

    background-color: #7C7C79;
    cursor: pointer;

}


.selected-weapon-wrapper
{
    min-height: 215px;
    min-width: 215px;
    background-color: #DCDCD5;
    display: flex;
    justify-content: center;
    align-items: center;

}

.board-wrapper
{
    display:flex;
    flex-direction: column;
}
.score-wrapper
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-wrapper
{
    display: flex;
    flex-direction: column;
    margin-top:50px;
    justify-content: center;

}

.weapon-selection-wrapper
{
    
    display: flex;
    flex-direction: column;
    align-items: center;

}

.weapon-selection
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap:100px;
    margin-top:15px;
}

.weapon-img-wrapper
{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weapon-img-wrapper:hover .weapon-img
{
    width:115px;
    height:auto;
    rotate: -5deg;
}


.weapon-img
{
    width:100px;
    height:auto;
    transition-duration: 0.5s;
}

.weapon-img:hover
{
    cursor: pointer;
}


.weapon-name-wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.weapon-description p
{
    text-align: justify;
}


.weapon-wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width:16vw;
}

.weapon-stats, .weapon-description
{
    color:#7C7C79;
}

.weapon-name-wrapper p:nth-child(2)
{
    color:#7C7C79;
}

.vs-tag, .weapon-placeholder
{
    color:#7C7C79;
}